<footer class="an-footer a-bgBlueDarker">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 an-footer-contactColumn">
                <div class="an-footer-contactInfo">
                    <ul class="an-footer-contactLinks">
                        <li>
                            <a href="https://github.com/Sjofartsdirektoratet/">
                                <i class="fa fa-github" aria-hidden="true"></i>
                                <span>GitHub</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-9 an-footer-navigationColumn">
                <ul class="an-footer-infoLinks">
                    <li>
                        <a href="https://www.sdir.no/om-direktoratet/">About Sdir</a>
                    </li>
                    <li>
                        <a href="https://www.sdir.no/om-direktoratet/jobb-hos-oss/">Career</a>
                    </li>
                </ul>
                <div class="an-footer-supplementaryInfo">
                    <span class="an-footer-address">Sjøfartsdirektoratet, Smedasundet 50A, 5528 Haugesund.</span>
                </div>
            </div>
        </div>
    </div>
</footer>